:root{
    --mainbackgroundcolor:#d9d8d4;
    --secondarybackgroundcolor:#f1f1f0;
    --terciarybackgroundcolor:#f8f8f8;
    --buttonbackgroundcolor: #4d72f9;
    --buttonhighlightcolor: #a6eefb;
    --type1color: #EA7A3C;
    --type2color: #7DA6DE;
    --centralWidth: 512px;
    --itemWidth: 132px;
    --itemHeight: 30px;
}

@font-face {
    font-family: PokemonFont;
    src: url(PokemonGb-RAeo.ttf);
  }

*{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
    border-radius: 5px;
    border: 2px;
    text-decoration: none;
}

body{
    background: var(--mainbackgroundcolor);
}

.left-side-nav{
    background-color: var(--secondarybackgroundcolor);
    height: 95%;
    position: fixed;
    font-size: 20px;
    text-wrap: nowrap;
    border-style: solid;
    top: 2%;
    bottom: 2%;
    left: 1%;
    width: 154px;
}

.left-side-nav li{
    list-style: none;
    padding-top: 10px;
    text-align: left;
}

.left-side-nav a{
    color: gray;
}

.left-side-nav a:hover{
    cursor: pointer;
    color: var(--buttonhighlightcolor);
}

.nav-toggle:hover{
    cursor: pointer;
}

.nav-text{
    padding-top: 10px;
}

.nav-text-close {
    background-color: var(--buttonbackgroundcolor);
    position: absolute;
    width: var(--itemWidth);
    right: 10px;
    bottom: 16px;
    height: var(--itemHeight);
    text-wrap: wrap;
    border-style: solid;
    align-content: center;
    font-size: 13px;
    display: block;
    font-weight: bold;
    display: none;
}

.nav-text-close:hover{
    opacity: 90%;
    background: var(--buttonhighlightcolor);
    cursor: pointer;
}

.nav-toggle{
    position: fixed;
    background: none;
    top: 18px;
    left: clamp(10px, 10px, 5%);
    font-size: 24px;
    display: none;
}

.loading-buttons{
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
}

.battle-input-button{
    background: none;
    background-color: var(--buttonbackgroundcolor);
    width: var(--itemWidth);
    top: 321px;
    height: var(--itemHeight);
    text-wrap: nowrap;
    border-style: solid;
    font-size: 20px;
    align-content: center;
    justify-items: center;
    font-weight: bold;
}

.battle-input-button:hover{
    opacity: 90%;
    background: var(--buttonhighlightcolor);
    cursor: pointer;
}

.columns{
    display: flex;
    gap: 100px;
    width: 600px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    border-style: solid;
}

.column-one{
    flex: 50%;
    height: 500px;
    background-color: #999999;
}

.movebutton{
    background: none;
    background-color: var(--buttonbackgroundcolor);
    width: var(--itemWidth);
    top: 321px;
    height: var(--itemHeight);
    text-wrap: nowrap;
    border-style: solid;
    font-size: 18px;
    align-content: center;
    justify-items: center;
    font-weight: bold;
    left: 50%;
    transform: translateX(40%);
}

.movebutton:hover{
    opacity: 90%;
    background: var(--buttonhighlightcolor);
    cursor: pointer;
}

.battle-field{
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 1;
    left: 50%;
    transform: translate(-50%, 30%);
    position: fixed;
    display: flex;
    flex-direction: column;
    border-style: solid;
    visibility: hidden;
}

.text-field{
    border-style: double;
    border-width: 5px;
    height: 90%;
    width: 95%;
    transform: translateX(3%);
    font-family: PokemonFont;
    font-size: 20px;
    line-height: 2;
    text-align: left;
    padding: 5px;
    box-sizing: border-box;
    padding-top: 0;
}

.move-selection{
    border-style: double;
    border-width: 5px;
    height: 80%;
    width: 75%;
    transform: translate(25%, -100%);
    background-color: white;
    font-size: 14px;
    visibility: hidden;
}

.movebuttonselection{
    text-align: left;
    font-family: PokemonFont;
    padding: 3px;
    padding-top: 3.5px;
    padding-left: 20px;
    cursor: pointer;
}

#pokemon1move1:hover:before {
    content: '';
    position: absolute;
    left: 8px;
    top: 5px;
    transform: translateY(0%);
    width: 0;
    height: 0;
    border-left: 5px solid black;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

#pokemon1move2:hover:before {
    content: '';
    position: absolute;
    left: 8px;
    top: 25px;
    transform: translateY(0%);
    width: 0;
    height: 0;
    border-left: 5px solid black;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

#pokemon1move3:hover:before {
    content: '';
    position: absolute;
    left: 8px;
    top: 46px;
    transform: translateY(0%);
    width: 0;
    height: 0;
    border-left: 5px solid black;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

#pokemon1move4:hover:before {
    content: '';
    position: absolute;
    left: 8px;
    top: 65px;
    transform: translateY(0%);
    width: 0;
    height: 0;
    border-left: 5px solid black;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.sub-battle-field{
    flex: 1;
    height: 33%;
}

#pokemon_name_two{
    text-align: left;
    font-family: PokemonFont;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 14px;
}

#pokemon_name{
    text-align: right;
    font-family: PokemonFont;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 14px;
}

.pokemon_level_field{
    font-family: PokemonFont;
    font-size: 6px;
    text-align: right;
    margin-right: 40px;
}

.pokemon_level_field_two{
    font-family: PokemonFont;
    font-size: 6px;
    text-align: left;
    margin-left: 40px;
}

#pokemon_level{
    font-family: PokemonFont;   
    font-size: 10px;
}

#pokemon_level_two{
    font-family: PokemonFont;   
    font-size: 10px;
}

#pokemon_hp_current{
    font-family: PokemonFont;   
    font-size: 12px;
}

#pokemon_hp_initial{
    font-family: PokemonFont;   
    font-size: 12px;
}

.hp_user{
    text-align: right;
    margin-right: 20px;
}

#pokemonFront2{
    position: absolute;
    right: 0px;
    top: -25px;
    width: 140px;
    height: 140px;
}

#pokemonBack1{
    position: absolute;
    left: 0px;
    top: 70px;
    width: 140px;
    height: 140px;
}

.health-bar-container-2 {
    width: 120px;
    display: flex;
}

.health-bar-container {
    width: 120px;
    display: flex;
    margin-right:10px;
    margin-left: auto;
}

.health-bar {
    width: 100%;
    height: 4px;
    background-color: #ccc;
    border: 1px solid #000;
    position: relative;
    top: 3px;
}

.health-bar-2 {
    width: 100%;
    height: 4px;
    background-color: #ccc;
    border: 1px solid #000;
    position: relative;
    top: 3px;
}

.health-bar::after {
    content: '';
    position: absolute;
    left: -25px;
    bottom: -20px;
    width: 120px;
    height: 23px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

.health-bar-2::after {
    content: '';
    position: absolute;
    left: -25px;
    bottom: -6px;
    width: 120px;
    height: 10px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
}


.health-bar-fill {
    height: 100%;
    background-color: green;
    width: 100%; /* This will be dynamically adjusted */
    transition: width 0.3s ease-in-out;
}

.hp-label{
    font-family: PokemonFont;   
    font-size: 6px;
    margin-left: 10px;
    margin-top: 3px;
}

.hp-label-2{
    font-family: PokemonFont;   
    font-size: 6px;
    margin-left: 10px;
    margin-top: 3px;
}


@media (max-width: 880px) {
    .left-side-nav{
        display: none;
    }
    .nav-toggle{
        display: inline-block;
    }
    .nav-text-close{
        display: inline-block;
    }
    :root{
        --centralWidth: 384px;
    }
}