:root{
    --mainbackgroundcolor:#d9d8d4;
    --secondarybackgroundcolor:#f1f1f0;
    --terciarybackgroundcolor:#f8f8f8;
    --buttonbackgroundcolor: #4d72f9;
    --buttonhighlightcolor: #a6eefb;
    --type1color: #EA7A3C;
    --type2color: #7DA6DE;
    --centralWidth: 512px;
    --itemWidth: 132px;
    --itemHeight: 30px;
}


*{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
    border-radius: 5px;
    border: 2px;
    text-decoration: none;
}

body{
    background: var(--mainbackgroundcolor);
}

.title{
    background-color: var(--secondarybackgroundcolor);
    position: relative;
    width: var(--centralWidth);
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
    text-wrap: nowrap;
    border-style: solid;
    font-weight: bold;
}

.info-container{
    background-color: var(--secondarybackgroundcolor);
    position: fixed;
    width: var(--centralWidth);
    top: 117px;
    left: 50%;
    transform: translateX(-50%);
    height: 379px;
    font-size: 36px;
    border-style: solid;
}

.button-container{
    background-color: var(--secondarybackgroundcolor);
    position: fixed;
    width: var(--centralWidth);
    top: 514px;
    left: 50%;
    transform: translateX(-50%);
    height: 64px;
    font-size: 36px;
    border-style: solid;
}

.pokemon-picture{
    background-color: var(--terciarybackgroundcolor);
    position: relative;
    width: 40%;
    top: 5%;
    left: 30%;
    right: 30%;
    height: 50%;
    border-style: solid;
    align-content: center;
}

.pokemon-picture img{
    height:90%;
    width: auto;
}

.pokemon-name{
    background-color: var(--terciarybackgroundcolor);
    position: relative;
    width: calc(var(--itemWidth)*1.1);
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-wrap: nowrap;
    border-style: solid;
    font-size: 20px;
    align-content: center;
    font-weight: bold;
    height: var(--itemHeight);
}

.type-1{
    background-color: var(--type1color);
    position: relative;
    width: var(--itemWidth);
    top: 46px;
    left: 30%;
    transform: translateX(-50%);
    height: var(--itemHeight);
    text-wrap: nowrap;
    border-style: solid;
    font-size: 20px;
    align-content: center;
    font-weight: bold;
}

.type-2{
    background-color: var(--type2color);
    position: fixed;
    width: var(--itemWidth);
    top: 321px;
    left: 30%;
    transform: translateX(-50%);
    height: var(--itemHeight);
    text-wrap: nowrap;
    border-style: solid;
    font-size: 20px;
    align-content: center;
    font-weight: bold;
}

input{
    height: var(--itemHeight);
    width: calc(var(--itemWidth)*1.75);
    left: 5%;
    top: 14px;
    position: fixed;
    border-style: solid;
    font-size: 14px;
}

.left-side-nav{
    background-color: var(--secondarybackgroundcolor);
    height: 95%;
    position: fixed;
    font-size: 20px;
    text-wrap: nowrap;
    border-style: solid;
    top: 2%;
    bottom: 2%;
    left: 1%;
    width: 154px;
}

.left-side-nav li{
    list-style: none;
    padding-top: 10px;
    text-align: left;
}

.left-side-nav a{
    color: gray;
}

.left-side-nav a:hover{
    cursor: pointer;
    color: var(--buttonhighlightcolor);
}

.nav-text{
    padding-top: 10px;
}

.nav-toggle{
    position: fixed;
    background: none;
    top: 18px;
    left: 18px;
    font-size: 24px;
    display: none;
}

.nav-toggle:hover{
    cursor: pointer;
}

.right-side-bar{
    background-color: var(--secondarybackgroundcolor);
    height: 95%;
    position: fixed;
    font-size: 20px;
    border-style: solid;
    top: 2%;
    right: 1%;
    width: 154px;
}

.right-side-bar ul{
    list-style: none;
    padding-top: 0px;
    text-align: left;
    padding-left: 10pt;
    font-size: 14px;
}

.right-side-bar li{
    padding-top: 3px;
    text-align: left;
}

/* BUTTONS */

.external-info-button{
    background: none;
    background-color: var(--buttonbackgroundcolor);
    position: fixed;
    width: var(--itemWidth);
    top: 321px;
    left: 70%;
    transform: translateX(-50%);
    height: var(--itemHeight);
    text-wrap: nowrap;
    border-style: solid;
    font-size: 20px;
    align-content: center;
    justify-items: center;
    font-weight: bold;
}

.external-info-button:hover{
    opacity: 90%;
    background: var(--buttonhighlightcolor);
    cursor: pointer;
}


.input-button{
    background: none;
    background-color: var(--buttonbackgroundcolor);
    position: fixed;
    width: calc(var(--itemWidth)*1.5);
    top: 23%;
    left: 75%;
    transform: translateX(-50%);
    height: var(--itemHeight);
    text-wrap: nowrap;
    border-style: solid;
    font-size: 14px;
    align-content: center;
    font-weight: bold;
}


.input-button:hover{
    opacity: 90%;
    background: var(--buttonhighlightcolor);
    cursor: pointer;
}

.clear-button {
    background-color: var(--buttonbackgroundcolor);
    position: absolute;
    width: var(--itemWidth);
    right: 10px;
    bottom: 16px;
    height: var(--itemHeight);
    text-wrap: wrap;
    border-style: solid;
    align-content: center;
    font-size: 13px;
    display: block;
    font-weight: bold;
}

.clear-button:hover{
    opacity: 90%;
    background: var(--buttonhighlightcolor);
    cursor: pointer;
}

.play-cry-button{
    background-color: var(--buttonbackgroundcolor);
    position: fixed;
    width: var(--itemWidth);
    top: 273px;
    left: 70%;
    transform: translateX(-50%);
    height: var(--itemHeight);
    text-wrap: nowrap;
    border-style: solid;
    font-size: 20px;
    align-content: center;
    font-weight: bold;
}

.play-cry-button:hover{
    opacity: 90%;
    background: var(--buttonhighlightcolor);
    cursor: pointer;
}

.randomizer{
    border-style: solid;
    height: var(--itemHeight);
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 22px;
    width: 35px;
    position: relative;
    background-color: var(--buttonbackgroundcolor);
    top: -38px;
    left: 70%;
    transform: translateX(-50%);
    display:flex;
}

.randomizer:hover{
    opacity: 90%;
    background: var(--buttonhighlightcolor);
    cursor: pointer;
}

.nav-text-close {
    background-color: var(--buttonbackgroundcolor);
    position: absolute;
    width: var(--itemWidth);
    right: 10px;
    bottom: 16px;
    height: var(--itemHeight);
    text-wrap: wrap;
    border-style: solid;
    align-content: center;
    font-size: 13px;
    display: block;
    font-weight: bold;
    display: none;
}

.nav-text-close:hover{
    opacity: 90%;
    background: var(--buttonhighlightcolor);
    cursor: pointer;
}

@media (max-width: 880px) {
    .left-side-nav{
        display: none;
    }
    .right-side-bar{
        display: none;
    }
    .nav-toggle{
        display: inline-block;
    }
    .nav-text-close{
        display: inline-block;
    }
    :root{
        --centralWidth: 384px;
        --itemWidth: 96px;
    }

}