:root{
    --mainbackgroundcolor:#d9d8d4;
    --secondarybackgroundcolor:#f1f1f0;
    --terciarybackgroundcolor:#f8f8f8;
    --buttonbackgroundcolor: #4d72f9;
    --buttonhighlightcolor: #a6eefb;
    --type1color: #EA7A3C;
    --type2color: #7DA6DE;
}


*{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
}

body{
    background: var(--mainbackgroundcolor);
}

.title{
    background-color: var(--secondarybackgroundcolor);
    position: fixed;
    width: 40%;
    top: 8%;
    left: 30%;
    right: 30%;
    font-size: 36px;
    text-wrap: nowrap;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
    font-weight: bold;
}

.info-container{
    background-color: var(--secondarybackgroundcolor);
    position: fixed;
    width: 40%;
    top: 18%;
    left: 30%;
    right: 30%;
    height: 60%;
    font-size: 36px;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
}

.button-container{
    background-color: var(--secondarybackgroundcolor);
    position: fixed;
    width: 40%;
    top: 81.5%;
    left: 30%;
    right: 30%;
    height: 10%;
    font-size: 36px;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
}

.pokemon-picture{
    background-color: var(--terciarybackgroundcolor);
    position: relative;
    width: 40%;
    top: 5%;
    left: 30%;
    right: 30%;
    height: 50%;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
    align-content: center;
}

.pokemon-picture img{
    height:90%;
    width: auto;
}

.pokemon-name{
    background-color: var(--terciarybackgroundcolor);
    position: fixed;
    width: 10%;
    top: 54%;
    left: 45%;
    right: 45%;
    height: 5%;
    text-wrap: nowrap;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
    font-size: 20px;
    align-content: center;
    font-weight: bold;
}

.type-1{
    background-color: var(--type1color);
    position: fixed;
    width: 10%;
    top: 62%;
    left: 37%;
    right: 45%;
    height: 5%;
    text-wrap: nowrap;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
    font-size: 20px;
    align-content: center;
    font-weight: bold;
}

.type-2{
    background-color: var(--type2color);
    position: fixed;
    width: 10%;
    top: 70%;
    left: 37%;
    right: 45%;
    height: 5%;
    text-wrap: nowrap;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
    font-size: 20px;
    align-content: center;
    font-weight: bold;
}

input{
    width: 20%;
    height: 5%;
    top: 83.9%;
    left: 31.5%;
    position: fixed;
    border-radius: 5px;
    border-style: solid;
    font-size: 14px;
}

.left-side-nav{
    background-color: var(--secondarybackgroundcolor);
    height: 95%;
    position: fixed;
    font-size: 20px;
    text-wrap: nowrap;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
    top: 2%;
    bottom: 2%;
    left: 1%;
    width: 12%;
}

.left-side-nav li{
    list-style: none;
    padding-top: 10px;
    text-align: left;
}

.left-side-nav a{
    text-decoration: none;
    color: gray;
}

.left-side-nav a:hover{
    cursor: pointer;
    color: var(--buttonhighlightcolor);
}

.nav-text{
    padding-top: 10px;
}

.right-side-bar{
    background-color: var(--secondarybackgroundcolor);
    height: 95%;
    position: fixed;
    font-size: 20px;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
    top: 2%;
    bottom: 2%;
    right: 1%;
    width: 12%;
}

.right-side-bar ul{
    list-style: none;
    padding-top: 0px;
    text-align: left;
    padding-left: 10pt;
    font-size: 14px;
}

.right-side-bar li{
    padding-top: 3px;
    text-align: left;
}

/* BUTTONS */

button{
    background: none;
    border-style: none;
    align-content: center;
    font-size: 20px;
    font-weight: bold;
}

button:hover{
    opacity: 90%;
    background: var(--buttonhighlightcolor);
    cursor: pointer;
}

.external-info-button{
    background: none;
    background-color: var(--buttonbackgroundcolor);
    position: fixed;
    width: 10%;
    top: 70%;
    left: 53%;
    right: 47%;
    height: 5%;
    text-wrap: nowrap;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
    font-size: 20px;
    align-content: center;
    justify-items: center;
}

.external-info-button button{
    padding: 0%;
}

.external-info-button:hover{
    opacity: 90%;
    background: var(--buttonhighlightcolor);
    cursor: pointer;
}


.input-button{
    background: none;
    background-color: var(--buttonbackgroundcolor);
    position: fixed;
    width: 15%;
    top: 84%;
    left: 53%;
    right: 47%;
    height: 5%;
    text-wrap: nowrap;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
    font-size: 14px;
    align-content: center;
}

.input-button button{
    align-content: center;
    font-size: 14px;
}

.input-button:hover{
    opacity: 90%;
    background: var(--buttonhighlightcolor);
    cursor: pointer;
}

.clear-button {
    background: none;
    background-color: var(--buttonbackgroundcolor);
    position: fixed;
    width: 10%;
    top: 89%;
    left: 87.75%;
    right: 5%;
    height: 6%;
    text-wrap: wrap;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
    align-content: center;
}

.clear-button button{
    font-size: 12px;
}

.clear-button:hover{
    opacity: 90%;
    background: var(--buttonhighlightcolor);
    cursor: pointer;
}

.play-cry-button{
    background-color: var(--buttonbackgroundcolor);
    position: fixed;
    width: 10%;
    top: 62%;
    left: 53%;
    right: 47%;
    height: 5%;
    text-wrap: nowrap;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
    font-size: 20px;
    align-content: center;
}

.play-cry-button:hover{
    opacity: 90%;
    background: var(--buttonhighlightcolor);
    cursor: pointer;
}